<body>
    <div class="container">
        <main class="row">
    
    <!-- ***  Education Section Starts ***  -->
    <section class="col">
    
        <header class="title">
            <h2>Education</h2>
        </header>
    
    <div class="contents">
    
        <div class="box">
            <h4>2017 - 2021</h4>
            <h3>Secundario Don Jose Francisco De San Martin</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam</p>
        </div>
    
        <div class="box">
            <h4>2014 - 2021</h4>
            <h3>Instituto Skills</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam</p>
        </div>
    </div>
    </section>
    <!--  *** Education Section Ends  ***  -->

    <!-- ***  Experience Section Starts ***  -->
    <section class="col">
    
        <header class="title">
            <h2>Experience</h2>
        </header>
    
    <div class="contents">
    
        <div class="box">
            <h4>-</h4>
            <h3>Por el momento 0 experiencia</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam</p>
        </div>
        <div class="box1"> </div>
    
    
    </div>
    </section>
    <!--  *** Experience Section Ends  ***  -->
    
    
        </main>
    </div>
</body>