<div id="proyects" class="row">
    
    
    <div class="div1">
        <div class="boton">
        <h2>Proyects</h2>
        <div>
            <button><i class="bi bi-plus-circle"> Agregar</i></button>
        </div>
    </div>
        <div id="education">
            
            <div class="education-block">
    
                <h3>Proyecto Argentina Programa</h3>
               
                <p>Proyecto final full stack HTML CSS JS Angular</p>
               
                <img class="imagenes1"  src="../../../assets/proyecto ARG.png">
                 <div class="boton2"> 
                <button><i class="bi bi-pencil"></i></button>
                <button><i class="bi bi-x-circle"></i></button>
                </div>
                
            </div>
           
          
        </div>
    </div>
    </div>