<div class="row" id="skills">
  
  <h2>Hard and soft skills</h2>
  <div class="boton">
    <button><i class="bi bi-plus-circle"> Agregar</i></button>
  </div>


  <div class="col-sm-4 col-md-4 col-lg-4" >
    <div class="wrapper">
      <circle-progress class="circle"
        [percent]="90"
        [radius]="70"
        [showUnits]="false"
        [title]="'HTML'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#02FFA3'"
        [innerStrokeColor]="'#D6D6EA'"
        [animation]="true"
        [animationDuration]="800"
        [responsive]="true"
        [titleFontSize]="'10'"
      >
      </circle-progress>
      <div class="botones">
        <button class="btn btn-primary"><i i class="bi bi-pencil"></i></button>
        <div class="boton1">
          <button class="btn btn-light"><i class="bi bi-x-circle"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4" >
    <div class="wrapper">
      <circle-progress class="circle"
        [percent]="90"
        [radius]="50"
        [showUnits]="false"
        [title]="'HTML'"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#02FFA3'"
        [innerStrokeColor]="'#D6D6EA'"
        [animation]="true"
        [animationDuration]="800"
        [responsive]="true"
        [titleFontSize]="'5'"
      >
      </circle-progress>
      <div class="botones">
        <button class="btn btn-primary"><i i class="bi bi-pencil"></i></button>
        <div class="boton1">
          <button class="btn btn-light"><i class="bi bi-x-circle"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4" >
    <div class="wrapper">
      <circle-progress class="circle"
        [percent]="90"
        [radius]="70"
        [showUnits]="false"
        [title]="'HTML'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#02FFA3'"
        [innerStrokeColor]="'#D6D6EA'"
        [animation]="true"
        [animationDuration]="800"
        [responsive]="true"
        [titleFontSize]="'10'"
      >
      </circle-progress>
      <div class="botones">
        <button class="btn btn-primary"><i i class="bi bi-pencil"></i></button>
        <div class="boton1">
          <button class="btn btn-light"><i class="bi bi-x-circle"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4" >
    <div class="wrapper">
      <circle-progress class="circle"
        [percent]="90"
        [radius]="70"
        [showUnits]="false"
        [title]="'HTML'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#02FFA3'"
        [innerStrokeColor]="'#D6D6EA'"
        [animation]="true"
        [animationDuration]="800"
        [responsive]="true"
        [titleFontSize]="'10'"
      >
      </circle-progress>
      <div class="botones">
        <button class="btn btn-primary"><i i class="bi bi-pencil"></i></button>
        <div class="boton1">
          <button class="btn btn-light"><i class="bi bi-x-circle"></i></button>
        </div>
      </div>
    </div>
  </div>
  
  
</div>
